@charset "UTF-8";

/* importação da fonte 'Heartless' pro logo */
@font-face {
  font-family: 'Heartless';
  src: url('Heartless.ttf') format('truetype');
}

/* definição de padrões estéticos */
:root {
  --escarlate: #820303;
  --fonte-logo: 'Heartless', "Times New Roman", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* definindo padding e margens dos elementos */
}

body {
  background-color: black; /* cor de fundo padrão do site */
  color: #bababa; /* cor do texto padrão */
  font-family: 'Times New Roman', serif; /* fonte padrão para o corpo do site */
}

header {
  background-image: linear-gradient(to bottom, var(--escarlate), #000); /* gradiente de fundo pro cabeçalho */
  min-height: 120px; /* altura do cabeçalho */
  padding: 15px;
  text-align: center; /* centraliza o conteúdo no cabeçalho */
}

header h1 {
  font-family: var(--fonte-logo);
  font-size: 6em;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* sombra para destacar o texto */
  font-weight: normal;
  padding-top: 20px;
  line-height: 0.6;
}

nav {
  margin: 10px;
  text-align: center; /* centraliza os links de navegação */
  background-color: black;
}

nav a {
  color: var(--escarlate); /* cor dos links de navegação */
  font-size: 1em;
  text-decoration: none; /* remove o sublinhado dos links */
  padding: 10px;
  border-radius: 5px 5px 0 0; /* bordas arredondadas no topo dos links */
}

nav a:hover,
nav a.active {
  background-color: var(--escarlate); /* destaque ao passar o mouse e para o link ativo */
  color: white;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--escarlate); /* borda vermelha ao redor do conteúdo */
  border-radius: 10px;
}

main p {
  margin: 15px 0;
  text-align: justify;
  text-indent: 30px; /* indenta o início de cada parágrafo */
}

img {
  width: 100%;
  padding-bottom: 20px;
  object-fit: cover; /* garante que as imagens cubram toda a área disponível sem distorção */
}

#content-noticias .container {
  display: flex; /* flexbox pra alinhar imagem e texto lado a lado */
  align-items: center;
  margin-bottom: 20px;
}

#content-noticias .imagem {
  width: 30%; /* define a largura da seção de imagem */
  margin-right: 20px; /* espaçamento entre a imagem e o texto */
}

#content-noticias .texto {
  max-width: 70%; /* define a largura da seção de texto */
}

footer {
  color: var(--escarlate); /* cor do texto no rodapé */
  margin: 50px 0 30px; /* espaçamento entre o rodapé e o conteúdo principal */
  text-align: center;
}

footer a {
  color: var(--escarlate); /* cor dos links no rodapé */
}

footer a:hover {
  color: #d85fd8; /* cor dos links ao passar o mouse */
}
